<div class="container-fluid">
  <div class="post-it">
    <h3>Welcome to Netflix! </h3>
    <br>
    <div class="text-center">
      <p>First access? Create an account.</p>
      <button type="button" id="logout" name="logout" class="btn btn-danger border-black text-light"
        id="signUp_btn" [routerLink]="['/register']">Sign Up</button>
    </div>
    <hr>
    <div class="text-center">
      <p>Already registered? Click on "Sign In" to access.</p>
      <button type="button" id="logout" name="logout" class="btn btn-danger border-black text-light"
        id="signIn_btn" [routerLink]="['/login']">Sign In</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
